.login {
    display: flex;

    .left {
        flex: 1;
        background-color: #E5E5E5;
        height: 100vh;
        
        .left-logo{
            display: flex;
            align-items: center;
            padding: 60px;
            gap: 7px;
        }

        .logo {
            display: flex;
            align-items: center;
        }
       
        .logo-text{
            color: #213F7D;
        }
    }

    .right {
        flex: 1;
        
    }
}