.login {
    display: flex;

    .left {
        flex: 1;
        background-color: #FFFFFF;;
        height: 100vh;
        
        .left-logo{
            display: flex;
            align-items: center;
            padding: 60px;
            gap: 7px;
        }

        .logo {
            display: flex;
            align-items: center;
        }
       
        .logo-text{
            color: #213F7D;
        }

        .login-img{

            display: flex;
            justify-content: center;
            align-items: center;
            padding: 60px;

            .img1 {
                width: 600px;
                height: 338px;
                
            }

        }

        
    }

    .right {
        flex: 1;
        
    }
}