.navbar {
    width: 100vw;
    height: 100px;
    background-color: #ffffff;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    
    .left-logo {
        display: flex;
        gap: 8px;
        align-items: center;
          
        .logo {
            display: flex;
            width: 20.63px;
            height: 20.84px;
            margin-left: 2rem;
            align-items: center;
        }

        .logo-text {
            width: 115.37px;
            height: 30px;
            color: #213F7D;     
        }

        .search {
            margin-right: 30rem;
            // position: relative;
            // left: 35px;
            margin-left: 2.5rem;
            position: relative;
            left: 120px;
          
            input {
                width: 400px;
                height: 40px;
                background-color: #FFFFFF;
                opacity: 0.2;
                border: 1px solid #213F7D;
                border-radius: 8px 0 0 8px; 
                font-size: 0.875rem;
                font-weight: 400;
                line-height: 16px;
                color: #545F7D;
                opacity: 0.7;
                padding: 0 12px;  
                } 
    
                  button {
                    width: 56px;
                    height: 40px;
                    background: #39CDCC;
                    border: 1px solid #39CDCC;
                    border-radius: 0 8px 8px 0; 
                    cursor: pointer;
                  }
    
            }

            .nav-items {
                display: flex;
                align-items: center;
                gap: 15px;

                .notification {
                    cursor: pointer;
                }
            
                .docs {
                    width: 37px;
                    height: 19px;
                }

                .img1{
                    width: 58px;
                    height: 58px;
                    border-radius: 50%;
                }

                .username {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    .nav-docs {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 1rem;
                        line-height: 19px;
                        text-decoration-line: underline;
                        color: #213F7D;
                        text-decoration: none;
                    }

                    .nav-text {
                        font-family: 'Work Sans';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 1rem;
                        line-height: 19px;
                        color: #213F7D;
                    }
                }

                .username > span {
                    cursor: pointer;
                }
            }
    }    
}