.sidebar {

    .sidebar-container {

        .switch {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 25px 0;
            position: relative;
            gap: 8px;
            cursor: pointer;

            .switch-text {
                font-family: 'Work Sans';
                width: 157px;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #213F7D;
                margin-right: 48px;
            }

            .downArrowIcon {
                display: flex;
                align-items: center;;
                position: absolute;
                right: 75px;
                justify-content: center;
                
            }
        }

        .customer {
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            color: #545F7D;
            margin-left: 30px;
            width: 75px;
        }
    }
    
}