.sidebar {

    .sidebar-container {

        .switch {

            .switch-text {
                font-family: 'Work Sans';
                width: 157px;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #213F7D;
            }
        }
    }
    
}